// Estilos para la sección de contacto
.imagen-contacto{
    background-image: url('../img/contacto.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        font-size: 4rem;
        font-weight: $black;
        color: $blanco;
    }

    p{
        font-size: 2rem;
        color: $blanco;
    }
}